@import "tailwindcss";

@theme {
   --color-primary: #2c3e9e;
   --color-secondary: #9b8cff;
   --color-accent: #4f8ef7;
   --color-neutral: #f7f7f7;
   --color-paragraph: #333333;
   --color-label: #616161;
   --color-icon: #9e9e9e;
   --color-outline: #e0e0e0;
   --color-success: #2ecc71;
   --color-error: #f44336;
}
input[type="password"]::-ms-reveal {
   display: none;
}
